<template>
  <div class="duration mono">
    <div class="days"><span class="number">{{duration.days}}</span> days</div>
    <div class="hours"><span class="number">{{duration.hours}}</span> hours</div>
    <div class="minutes"><span class="number">{{duration.minutes}}</span> minutes</div>
    <div class="seconds"><span class="number">{{duration.seconds}}</span> seconds</div>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

export interface Duration {
  days: string;
  hours: string;
  minutes: string;
  seconds: string;
}

 @Component
 export default class ViewDuration extends Vue {
   @Prop() private duration!: Duration;
   mounted(){
   }
 }
</script>

<style>
 .duration {
   display: flex;
 }
 .duration div:not(:last-child){
   padding-right: 1rem;
 }
</style>
