<template>
  <div id="app">
    <div id="nav">
      Primephonic stats
    </div>
    <div id="content">
      <router-view/>
    </div>
  </div>
</template>

<style>
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
 * {
   margin: 0;
   padding: 0;
 }

 body {
 }

 ul {
   list-style: none;
 }

 .mono {
   font-family: 'Roboto Mono', monospace;
 }

 #nav {
   background: #301d31;
   color: white;
   height: 5vh;
   font-size: 2rem;
   font-weight: bold;
   padding-left: 2%;
   padding-right: 2%;
   display: flex;
   align-items: center;
 }

 #app {
   font-family: 'Roboto Mono', monospace;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #301d31;
 }

 #content {
   padding-top: 2rem;
   padding-left: 2%;
   padding-right: 2%;
   background: rgb(250, 250, 250);
   min-height: 95vh;
 }

</style>
