<template>
  <div class="stats">
    <div class="card">
      <h3>Total Streamed</h3>
      <ViewDuration v-bind:duration="totalStreamed"/>
    </div>
    <div class="card">
      <h3>Total Streamed per label</h3>
      <ul>
        <li v-for="item in totalStreamedPerLabel">
          {{item.label}}: <ViewDuration v-bind:duration="item.streamed"/>
        </li>
      </ul>
    </div>
    <div class="card popular">
      <h3>Most popular track</h3>
      <div class="trackTitle">{{mostPopularTrack.label}}</div>

      <div class="streamed">
        Streamed: <ViewDuration v-bind:duration="mostPopularTrack.streamed"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ViewDuration, {Duration} from '@/components/ViewDuration.vue';


const API = "http://localhost:3000";

function formatSeconds(duration: number) {
   const pad = (n: number) => (n < 10) ? `0${n}` : n;
   const seconds = Math.floor(duration % 60);
   const minutes = Math.floor((duration / 60) % 60);
   const hours = Math.floor((duration / (60*60)) % 24);
   const days = Math.floor(duration / (60 * 60 * 60));

   return {
     days,
     hours,
     minutes,
     seconds
   };
}


export interface Event {
  userId: string;
  trackId: string;
  label: string;
  streamStartedOn: number;
  secondsStreamed: number;
}


@Component({
   components:{
     ViewDuration
   }
})
export default class Stats extends Vue {
   error: string | null = null;
   data: Event[] = [];
   loading = false;

   // these would probably be better be calculated on the backend
   // so that different clients wouldn't have to reimplement these views for the data
   get totalStreamed(){
     const s = this.data.reduce((acc, item) => acc + item.secondsStreamed, 0)
     return formatSeconds(s);
   }

   get totalStreamedPerLabel(){
     return this.totalStreamedPer(event => event.label);
   }

   totalStreamedPer(getKey: (e: Event) => string){
     const streamedPerLabel = this.data.reduce((acc: any, item) => {
       const key = getKey(item);
       return {
         ...acc,
         [key]: (acc[key] || 0) + item.secondsStreamed
       }
     }, {});

     const result = Object.entries(streamedPerLabel).sort((a, b) => {
       const [_, value1] = a;
       const [__, value2] = b;
       if(value1 < value2){
         return 1;
       }
       if(value1 === value2){
         return 0;
       }
       return -1;
     }).map(([key, value]) => {
       return {
         label: key,
         streamed: formatSeconds(value as number)
       }
     });

     return result;
   }
   
   get mostPopularTrack(){
     return this.totalStreamedPer(event => event.trackId)[0];
   }

   async refreshData(){
     try {
       const url = `${API}/usage`;
       this.data = await fetch(url).then(it => it.json());
     } catch(e){
       this.error = "Something went wrong."
       console.log("an error occured");
       console.log(e);
     }
   }


   interval: any = null;
   mounted(){
     this.refreshData();
     this.interval = setInterval(() => {
       this.refreshData();
     }, 10000);
   }

   destroyed(){
     clearInterval(this.interval);
   }
}
</script>

<style>
 .card {
   background: white;
   margin-bottom: 1rem;
   padding: 1rem;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 .card h3 {
   text-transform: uppercase;
   margin-bottom: 2rem;
 }
 
 .card li {
   padding-bottom: 2rem;
 }

 .card:not(.popular) .duration .number {
   font-weight: bold;
   font-size: 1.5rem;
 }

 .popular .trackTitle {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
 }

 .popular .streamed{
   font-size: 0.8rem;
 }

</style>
